name: Test and Build Workflow
# This workflow is triggered on pull requests to main or a opendistro release branch
on:
  pull_request:
    branches:
      - main
      - opendistro-*

jobs:
  build:
    strategy:
      matrix:
        java: [14]
    # Job name
    name: Build Job Scheduler with JDK ${{ matrix.java }}
    # This job runs on macos
    runs-on: macos-latest
    steps:
      # This step uses the checkout Github action: https://github.com/actions/checkout
      - name: Checkout Branch
        uses: actions/checkout@v1
      # This step uses the setup-java Github action: https://github.com/actions/setup-java
      - name: Set Up JDK ${{ matrix.java }}
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java }}
      - name: Build with Gradle
        run: ./gradlew build
      - name: Upload Artifacts Plugin
        uses: actions/upload-artifact@v1
        if: always()
        with:
          name: job-scheduler-plugin
          path: ./build
      - name: Upload Artifacts Sample Plugin
        uses: actions/upload-artifact@v1
        if: always()
        with:
          name: job-scheduler-sample-plugin
          path: ./sample-extension-plugin/build
      - name: Upload Artifacts SPI Plugin
        uses: actions/upload-artifact@v1
        if: always()
        with:
          name: job-scheduler-spi-plugin
          path: ./spi/build
